*.o
*.o.d
*.obj
*.la
._*
*.tmp
*.bak
media/LIBRARY/AudioLib/lib/out/
media/LIBRARY/AudioLib/midware/decoding/libadecoder.a
media/LIBRARY/AudioLib/midware/encoding/libcedarx_aencoder.a
media/LIBRARY/agc_lib/out/
media/LIBRARY/ans_lib/include/
media/LIBRARY/ans_lib/out/
media/LIBRARY/aec_lib/out/
media/LIBRARY/drc_lib/out/
media/LIBRARY/libFsWriter/libFsWriter.a
media/LIBRARY/libResample/libResample.a
media/LIBRARY/libcedarc/base/libcdc_base.a
media/LIBRARY/libcedarc/library/out/
media/LIBRARY/libcedarc/memory/libMemAdapter.a
media/LIBRARY/libcedarc/vdecoder/libvdecoder.a
media/LIBRARY/libcedarc/vencoder/base/libvenc_base.a
media/LIBRARY/libcedarc/vencoder/libvencoder.a
media/LIBRARY/libcedarx/config/out/
media/LIBRARY/libcedarx/libcore/base/libcdx_base.a
media/LIBRARY/libcedarx/libcore/common/libcdx_common.a
media/LIBRARY/libcedarx/libcore/parser/aac/libcdx_aac_parser.a
media/LIBRARY/libcedarx/libcore/parser/base/libcdx_parser.a
media/LIBRARY/libcedarx/libcore/parser/id3v2/libcdx_id3v2_parser.a
media/LIBRARY/libcedarx/libcore/parser/mov/libcdx_mov_parser.a
media/LIBRARY/libcedarx/libcore/parser/mp3/libcdx_mp3_parser.a
media/LIBRARY/libcedarx/libcore/parser/mpg/libcdx_mpg_parser.a
media/LIBRARY/libcedarx/libcore/parser/ts/libcdx_ts_parser.a
media/LIBRARY/libcedarx/libcore/parser/wav/libcdx_wav_parser.a
media/LIBRARY/libcedarx/libcore/stream/base/libcdx_stream.a
media/LIBRARY/libcedarx/libcore/stream/file/libcdx_file_stream.a
media/LIBRARY/libdemux/libcedarxdemuxer.a
media/LIBRARY/libfilerepair/libfilerepair.a
media/LIBRARY/libisp/iniparser/libiniparser.a
media/LIBRARY/libisp/isp_cfg/libisp_ini.a
media/LIBRARY/libisp/isp_dev/libisp_dev.a
media/LIBRARY/libisp/isp_math/libisp_math.a
media/LIBRARY/libisp/libISP.a
media/LIBRARY/libisp/out/library/musl/libisp_math.a
media/LIBRARY/libisp/out/out/
media/LIBRARY/libisp/tuning_app/awTuningApp_isp600
media/LIBRARY/libmuxer/aac_muxer/libaac_muxer.a
media/LIBRARY/libmuxer/common/libavutil/libffavutil.a
media/LIBRARY/libmuxer/mp3_muxer/libmp3_muxer.a
media/LIBRARY/libmuxer/mp4_muxer/libmp4_muxer.a
media/LIBRARY/libmuxer/mpeg2ts_muxer/libmpeg2ts_muxer.a
media/LIBRARY/libmuxer/muxers/libmuxers.a
media/LIBRARY/libmuxer/raw_muxer/libraw_muxer.a
media/LIBRARY/libstream/libcedarxstream.a
media/libaw_mpp.a
media/librender/libcedarxrender.a
media/utils/libmedia_utils.a
sample/bin/
sample/configfileparser/libsample_confparser.a
media/LIBRARY/AudioLib/midware/decoding/libadecoder.so
media/LIBRARY/AudioLib/midware/encoding/libcedarx_aencoder.so
media/LIBRARY/libResample/libResample.so
media/LIBRARY/libcedarc/base/libcdc_base.so
media/LIBRARY/libcedarc/memory/libMemAdapter.so
media/LIBRARY/libcedarc/vdecoder/libvdecoder.so
media/LIBRARY/libcedarc/vencoder/base/libvenc_base.so
media/LIBRARY/libcedarc/vencoder/libvencoder.so
media/LIBRARY/libcedarx/libcore/base/libcdx_base.so
media/LIBRARY/libcedarx/libcore/common/libcdx_common.so
media/LIBRARY/libcedarx/libcore/parser/base/libcdx_parser.so
media/LIBRARY/libcedarx/libcore/stream/base/libcdx_stream.so
media/LIBRARY/libfilerepair/libfilerepair.so
media/LIBRARY/libisp/isp_cfg/libisp_ini.so
media/LIBRARY/libisp/isp_math/libisp_math.so
media/LIBRARY/libisp/libISP.so
media/LIBRARY/libisp/out/library/musl/libisp_math.so
media/LIBRARY/libstream/libcedarxstream.so
media/component/libmpp_component.so
media/libmedia_mpp.so
media/libmpp_isp.so
media/libmpp_vi.so
media/libmpp_vo.so
media/librender/libcedarxrender.so
media/utils/libmedia_utils.so
sample/configfileparser/libsample_confparser.so
sample/sample_adec/sample_adec
sample/sample_adec2ao/sample_adec2ao
sample/sample_aec/sample_aec
sample/sample_aenc/sample_aenc
sample/sample_ai/sample_ai
sample/sample_ai2aenc/sample_ai2aenc
sample/sample_ai2aenc2muxer/sample_ai2aenc2muxer
sample/sample_ao/sample_ao
sample/sample_ao2ai_aec/sample_ao2ai_aec
sample/sample_ao2ai_aec_rate_mixer/sample_ao2ai_aec_rate_mixer
sample/sample_ao_resample_mixer/sample_ao_resample_mixer
sample/sample_aoSync/sample_aoSync
sample/sample_CodecParallel/sample_CodecParallel
sample/sample_demux/sample_demux
sample/sample_demux2adec/sample_demux2adec
sample/sample_demux2adec2ao/sample_demux2adec2ao
sample/sample_demux2vdec/sample_demux2vdec
sample/sample_demux2vdec2vo/sample_demux2vdec2vo
sample/sample_demux2vdec_saveFrame/sample_demux2vdec_saveFrame
sample/sample_directIORead/sample_directIORead
sample/sample_driverVipp/sample_driverVipp
sample/sample_file_repair/sample_file_repair
sample/sample_fish/sample_fish
sample/sample_g2d/sample_g2d
sample/sample_glog/sample_glog
sample/sample_hello/sample_hello
sample/sample_isposd/sample_isposd
sample/sample_MotionDetect/sample_MotionDetect
sample/sample_motor/sample_motor
sample/sample_multi_vi2venc2muxer/sample_multi_vi2venc2muxer
sample/sample_odet_demo/sample_odet_demo
sample/sample_OnlineVenc/sample_OnlineVenc
sample/sample_PersonDetect/sample_PersonDetect
sample/sample_pthread_cancel/sample_pthread_cancel
sample/sample_recorder/sample_recorder
sample/sample_region/sample_region
sample/sample_rtsp/sample_rtsp
sample/sample_select/sample_select
sample/sample_sound_controler/sample_sound_controler
sample/sample_takePicture/sample_takePicture
sample/sample_timelapse/sample_timelapse
sample/sample_twinchn_virvi2venc2ce/sample_twinchn_virvi2venc2ce
sample/sample_uac/sample_uac
sample/sample_UILayer/sample_UILayer
sample/sample_usbcamera/sample_usbcamera
sample/sample_UVC/sample_uvc2vdec_vo/sample_uvc2vdec_vo
sample/sample_UVC/sample_uvc2vdenc2vo/sample_uvc2vdenc2vo
sample/sample_UVC/sample_uvc2vo/sample_uvc2vo
sample/sample_UVC/sample_uvc_vo/sample_uvc_vo
sample/sample_uvcout/sample_uvcout
sample/sample_vdec/sample_vdec
sample/sample_venc/sample_venc
sample/sample_venc2muxer/sample_venc2muxer
sample/sample_vencGdcZoom/sample_vencGdcZoom
sample/sample_vencQpMap/sample_vencQpMap
sample/sample_vencRecreate/sample_vencRecreate
sample/sample_vi_g2d/sample_vi_g2d
sample/sample_vin_isp_test/sample_vin_isp_test
sample/sample_vi_reset/sample_vi_reset
sample/sample_virvi/sample_virvi
sample/sample_virvi2eis2venc/sample_virvi2eis2venc
sample/sample_virvi2fish2venc/sample_virvi2fish2venc
sample/sample_virvi2fish2vo/sample_virvi2fish2vo
sample/sample_virvi2venc/sample_virvi2venc
sample/sample_virvi2venc2ce/sample_virvi2venc2ce
sample/sample_virvi2venc2muxer/sample_vi2venc2muxer
sample/sample_virvi2vo/sample_virvi2vo
sample/sample_virvi2vo_zoom/sample_virvi2vo_zoom
sample/sample_vo/sample_vo
sample/sample_RegionDetect/sample_RegionDetect
sample/sample_ai2ao/sample_ai2ao
sample/sample_smartIPC_demo/sample_smartIPC_demo
sample/sample_smartPreview_demo/sample_smartPreview_demo
media/LIBRARY/textEncLib/libcedarx_tencoder.a
