menu "Subsystem support"

config CMSIS
    bool "ARM CMSIS interface support"
    default n
    help
       CMSIS enables consistent device support and simple software interfaces to the processor and its peripherals, simplifying software reuse, reducing the learning curve for microcontroller developers, 
       and reducing the time to market for new devices.

config PTHREAD
    bool "Posix Thread Support"
    default n
    help
        Allow pthread_xxx interface to develop application.

config CXX
    bool "CXX Support"
    default n
    help
        Support CXX compile.

config BENCHMARK
    bool "BenchMark Test Support"
    default n
    help
        benchmark test for cpu evolution.

config DEBUG_BACKTRACE
    bool "Enable Backtrace Support"
    default y

config SUBSYS_ARCHIVAL
    bool "Enable Archival Support"
    default y

menu "Libc library"
    choice
    prompt "C library"
    default LIBCNEWLIB

    config  LIBCNEWLIB
	    bool "newlib "

    config  LIBCNONE
	    bool "none"
    endchoice

config EXTERN_LIBC
    bool
    default n if LIBCNONE
    default y if LIBCNEWLIB

config LIBC_MMAP
    bool "mmap"
	default y

endmenu

source "ekernel/subsys/samples/Kconfig"
source "ekernel/subsys/config/Kconfig"
source "ekernel/subsys/thirdparty/Kconfig"
source "ekernel/subsys/aw/Kconfig"
source "ekernel/subsys/finsh_cli/Kconfig"
source "ekernel/subsys/cplusplus/Kconfig"
source "ekernel/subsys/standby/Kconfig"

endmenu
